@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details:</h2>

<h3>@Model.Restaurant.Name</h3>
<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine Type: @Model.Restaurant.Cuisine
</div>

<a asp-page="./List" class="btn btn-default">All restaurants</a>